@import './Root.css';

.main-ebook {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3% 0 3% 0;
}

.main-ebook__title {
    font-size: 36px;
    font-family: var(--font-title);
    font-weight: 400;
}

.main-ebook__title__transform {
    color: var(--item-color);
}

.conteudo-ebook {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-text);
    margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 480px) {

    .main-ebook__title {
        font-size: 15px;
    }

    .conteudo-ebook {
        margin-left: 21%;
        margin-right: 21%;
        font-size: 13px;
        font-family: var(--font-text);
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-family: var(--font-text);
        flex-wrap: wrap;
    }

    .conteudo-ebook {
        font-size: 20px;
    }

    .conteudo-ebook__banner__card {
        min-width: 400px !important;
        max-width: 400px !important;
    }

}

@media (min-width: 481px) and (max-width: 968px) {

    .main-ebook__title {
        font-size: 24px;
    }

    .conteudo-ebook__banner__card {
        min-width: 480px !important;
        max-width: 480px !important;
    }
    
    .conteudo-ebook {
        font-size: 20px;
        font-family: var(--font-text);
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-family: var(--font-text);
        flex-wrap: wrap;
    }

}
