@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oswald&display=swap');

:root {
    --main-bg-color: #1B262C;
    --font-color: #F1F0F2;
    --item-color: #3282B8;
    --border-color: #0F4C75;
    --font-title: 'Krona One', sans-serif;
    --font-text: 'Oswald', sans-serif;
}